<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="css/results-styles.css">

    <title>Results of Search</title>


</head>
<body>
    
    <div class="wrapper">

        <aside>
            <div class="corner-title">
                <h4>Surf the Globe</h4>
            </div>
            <div class="links">
                <ul>
                    <li>
                        <a href="/">
                            <button class="Home"><i class="fas fa-home"></i><br>Home</button>
                        </a>
                    </li>
                    <li>
                        <button class="tablinks active" onclick="openInfo(event, 'News')"><i class="fas fa-rss"></i><br>News</button>
                    </li>
                    <li>
                        <button class="tablinks" onclick="openInfo(event, 'Facts')"><i class="fas fa-book"></i><br>Facts</button>
                    </li>
                    <li>
                        <button class="tablinks" onclick="openInfo(event, 'Culture')"><i class="fas fa-music"></i><br>Culture</button>
                    </li>
                    <li>
                        <button class="tablinks" onclick="openInfo(event, 'Health')"><i class="fas fa-heart"></i><br>Health</button>
                    </li>
                    <li>
                        <a href="/news">
                            <button class="Back"><i class="fas fa-arrow-left"></i><br>Previous Page</button>
                        </a>
                    </li>
                </ul>
            </div>
            
        </aside>

        <!-- <div class="rightbar">
            <a href="/">Home
                <br>
                <i class="fas fa-arrow"></i>
            </a>
            <a href="/news">New Search
                <br>
                <i class="fas fa-arrow"></i>
            </a>
        </div> -->
        
        <main>
            <div class="mainHeading">
                <h1><%= countryName %> Informational Page</h1>
                <hr>
            </div>

            <div class="content">
                <div id="News" class="tabcontent"> <!-- row articles  -->
                    <h1 class="subtitle">Top 10 News Stories</h1>
                    <div class="articles">
                        <% for (let i = 0; i < newsStories.length - 1; i++) { %>
                        <div class="news-story">
                            <h3><%= newsStories[i].title %></h3>
                            <h5>Story by <%= newsStories[i].author %></h5>
                            <p><%= newsStories[i].description %></p>
                            <p><a href="<%= newsStories[i].url %>">Read full story here</a></p>
                        </div>
                        <% } %>
                    </div>
                </div>
    
                <div id="Facts" class="tabcontent">
                    <h1 class="subtitle">Facts</h1>
                    <hr>
                    <img src="<%= countryFacts[0][0].flags.png %>"/>
                    <h3>Official Name: <%= countryFacts[0][0].name.official %></h3>
                    <h3>Capital: <%= countryFacts[0][0].capital %></h3>
                    <h3>Region: <%= countryFacts[0][0].region %></h3>
                    <h3>Subregion: <%= countryFacts[0][0].subregion %></h3>
                    <h3>Language:
                        <% Object.keys(countryFacts[0][0].languages).forEach((key, index) => { %>
                            <%- countryFacts[0][0].languages[key] %>
                        <% }) %>
                    </h3>
                    <h3>Currency Name: 
                        <% Object.keys(countryFacts[0][0].currencies).forEach((key, index) => { %>
                            <%- countryFacts[0][0].currencies[key].name %>
                        <% }) %>
                    </h3>
                    <h3>Currency Symbol:
                        <% Object.keys(countryFacts[0][0].currencies).forEach((key, index) => { %>
                            <%- countryFacts[0][0].currencies[key].symbol %>
                        <% }) %>
                    </h3> 
                </div>
            
                <div id="Culture" class="tabcontent">
                    <h1 class="subtitle">Culture</h1>
                    <h2>Here is cultural information for <%= countryName %>!</h2>
                    <p> music, movies, shows, etc </p>   
                    <hr>
                </div>
                
                <div id="Health" class="tabcontent">
                    <h1 class="subtitle">Health</h1>
                    <h2>Here is health information for <%= countryName %>!</h2>
                    <p> covid, deathrates, etc </p>
                    <hr>
                </div>
            </div>

        </main>

    </div>
    <script src="js/results.js"></script>

</body>
</html>